DATABASE_URL=postgresql+psycopg2://postgres:password@localhost:5433/disaster_db

USGS_URL=https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_day.geojson

GDACS_URL=https://www.gdacs.org/gdacsapi/api/events/geteventlist/SEARCH

NDMA_URL=